.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px) saturate(100%);
  -webkit-box-pack: center;
  animation: 1s ease 0s 1 normal forwards running bDTdTe;
}

.content {
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  width: 960px;
  position: relative;
}

@media (max-width: 1040px) {
  .content {
    max-width: 720px;
  }
}

@media (max-width: 770px) {
  .content {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .content {
    max-width: 400px;
  }
}
